---
- name: "기존 Helm 파일 제거 (Raw)"
  ansible.builtin.raw: sudo rm -f /usr/local/bin/helm /usr/bin/helm
  changed_when: false

- name: "Helm 설치 (Raw)"
  ansible.builtin.raw: |
    cd /tmp
    curl -L https://get.helm.sh/helm-v3.17.0-linux-amd64.tar.gz -o helm.tar.gz
    tar -zxvf helm.tar.gz
    sudo mv linux-amd64/helm /usr/local/bin/helm
    sudo chmod +x /usr/local/bin/helm
    sudo ln -sf /usr/local/bin/helm /usr/bin/helm
  changed_when: true

  