---
- name: "기존 Helm 바이너리 제거"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /usr/local/bin/helm
    - /usr/bin/helm

- name: Install Helm (download latest stable version via script)
  raw: |
    curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
    sudo ln -sf /usr/local/bin/helm /usr/bin/helm || true
  args:
    creates: /usr/local/bin/helm
  changed_when: false

- name: Show helm version
  raw: |
    /usr/local/bin/helm version
  register: helm_version_output
  changed_when: false

- name: Print helm version output
  debug:
    var: helm_version_output.stdout_lines

- name: "Nginx Ingress Helm 저장소 추가 (Root)"
  ansible.builtin.command: helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
  changed_when: true

- name: Show helm repo list
  raw: |
    helm repo list
  register: helm_repo_list_output
  changed_when: false

- name: Print helm repo list output
  debug:
    var: helm_repo_list_output.stdout_lines