---
# 1. 앤서블의 파이썬 엔진을 거치지 않고 직접 패키지 설치 (Raw)
- name: "시스템 기본 패키지 설치 (Raw - AL2023 호환)"
  ansible.builtin.raw: sudo dnf install -y python3 python3-pip git python3-libselinux
  changed_when: false

# 2. pip 업그레이드 및 앤서블 필요 라이브러리 설치 (AL2023 호환)
- name: "pip 업그레이드 및 앤서블 필요 라이브러리 설치"
  become: true
  ansible.builtin.pip:
    name:
      - pip
      - kubernetes
      - PyYAML
    state: present
    executable: pip3
  changed_when: false

# 3. 이후 작업에서 파이썬 경로 때문에 에러 나는 것 방지
- name: "인터프리터 경로 고정"
  ansible.builtin.set_fact:
    ansible_python_interpreter: /usr/bin/python3