---
# CLI 필요로 MySQL Server 설치 (Client만 설치 불가)
---
# MySQL 서버 설치 (Amazon Linux 2023)
- name: Enable MySQL 8.0 module
  ansible.builtin.dnf:
    name: "@mysql:8.0"
    state: present
    update_cache: yes

- name: Install MySQL server
  ansible.builtin.dnf:
    name: mysql-server
    state: present
    update_cache: yes

- name: Ensure MySQL service is started and enabled
  ansible.builtin.systemd:
    name: mysqld
    state: started
    enabled: yes



# mysql -h terraform-20260210071207430100000001.cl0aokksg3rp.ap-northeast-2.rds.amazonaws.com -u admin -p
# SHOW TABLES;
# SELECT * FROM admins;
