- name: Download MySQL 8.4 Community Release RPM
  ansible.builtin.get_url:
    url: https://dev.mysql.com/get/mysql84-community-release-el9-2.noarch.rpm
    dest: /tmp/mysql84-community-release-el9-2.noarch.rpm

- name: Install MySQL Repository
  ansible.builtin.dnf:
    name: /tmp/mysql84-community-release-el9-2.noarch.rpm
    state: present

- name: Import MySQL GPG Key
  ansible.builtin.rpm_key:
    state: present
    key: https://repo.mysql.com/RPM-GPG-KEY-mysql-2023

- name: Install MySQL Community Client
  ansible.builtin.dnf:
    name: mysql-community-client
    state: present
    update_cache: yes


# mysql -h terraform-20260210071207430100000001.cl0aokksg3rp.ap-northeast-2.rds.amazonaws.com -u admin -p
# SHOW TABLES;
# SELECT * FROM admins;
