---
# CLI 필요로 MySQL Server 설치 (Client만 설치 불가)
- name: Download MySQL 8.0 Community Release RPM
  ansible.builtin.get_url:
    url: https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm
    dest: /tmp/mysql80-community-release-el9-1.noarch.rpm

- name: Install MySQL repository RPM
  ansible.builtin.dnf:
    name: /tmp/mysql80-community-release-el9-1.noarch.rpm
    state: present

- name: Update DNF cache
  ansible.builtin.dnf:
    update_cache: yes

- name: Import MySQL GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://repo.mysql.com/RPM-GPG-KEY-mysql-2023

- name: Install MySQL client
  ansible.builtin.dnf:
    name: mysql-community-client
    state: present
    update_cache: yes

- name: Install MySQL server
  ansible.builtin.dnf:
    name: mysql-community-server
    state: present
    update_cache: yes

- name: Ensure MySQL service is started and enabled
  ansible.builtin.systemd:
    name: mysqld
    state: started
    enabled: yes


# mysql -h terraform-20260210071207430100000001.cl0aokksg3rp.ap-northeast-2.rds.amazonaws.com -u admin -p
# SHOW TABLES;
# SELECT * FROM admins;
