---
- name: Install MySQL client
  ansible.builtin.shell: |
    dnf install -y mysql
  args:
    warn: false # 경고 차단

# mysql -h terraform-20260210071207430100000001.cl0aokksg3rp.ap-northeast-2.rds.amazonaws.com -u admin -p
# SHOW TABLES;
# SELECT * FROM admins;
