---
# CLI 필요로 MySQL Server 설치 (Client만 설치 불가)
- name: Install MySQL server (AL2023)
  ansible.builtin.dnf:
    name: mysql-server
    state: present
    update_cache: yes

- name: Ensure MySQL service is started and enabled
  ansible.builtin.systemd:
    name: mysqld
    state: started
    enabled: yes

# mysql -h terraform-20260210071207430100000001.cl0aokksg3rp.ap-northeast-2.rds.amazonaws.com -u admin -p
# SHOW TABLES;
# SELECT * FROM admins;
