---
- name: "기존 K3s 바이너리 제거 (Raw)"
  ansible.builtin.raw: sudo rm -f /usr/local/bin/k3s
  changed_when: false

- name: "K3s 설치 실행 (Raw)"
  ansible.builtin.raw: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_SKIP_SELINUX_RPM=true INSTALL_K3S_EXEC="--disable traefik" sh -
  register: k3s_out

- name: "k3s.yaml 설정 파일 생성 대기 (Raw)"
  ansible.builtin.raw: |
    until [ -f /etc/rancher/k3s/k3s.yaml ]; do sleep 5; done
  # raw 모듈은 async를 지원하지 않으므로 직접 루프를 돌립니다.

- name: "kubeconfig 설정 (Raw)"
  ansible.builtin.raw: |
    sudo mkdir -p /home/ec2-user/.kube
    sudo cp /etc/rancher/k3s/k3s.yaml /home/ec2-user/.kube/config
    sudo chown ec2-user:ec2-user /home/ec2-user/.kube/config
    sudo chmod 600 /home/ec2-user/.kube/config
  changed_when: false

- name: "ec2-user의 .bashrc에 KUBECONFIG 경로 추가 (Raw)"
  ansible.builtin.raw: |
    if ! grep -q "KUBECONFIG" /home/ec2-user/.bashrc; then
      echo 'export KUBECONFIG=$HOME/.kube/config' >> /home/ec2-user/.bashrc
    fi
  changed_when: false

# K3s 설치 실행
# INSTALL_K3S_SKIP_SELINUX_RPM=true: SELinux 정책 버전 충돌 문제를 우회합니다.
#  k3s-selinux가 하는 일과 생략 시 발생하는 문제

# SELinux(Security-Enhanced Linux)란? 컨테이너가 호스트 OS의 파일이나 자원에 함부로 접근하지 못하게 하는 "강력한 격리벽"입니다. 
# k3s-selinux 패키지는 K3s 컨테이너 전용 '격리 규칙'을 제공하여 

# 생략 시 문제: 컨테이너가 해킹당했을 때, 공격자가 컨테이너를 탈출해 호스트 OS(EC2)의 내부 파일에 접근하기가 조금 더 쉬워집니다. 
# 즉, 컨테이너 간의 격리나 호스트 보호 장벽이 하나 줄어드는 셈입니다.

# 그러나 Amazon Linux 2는 기본적으로 SELinux가 Permissive(로그만 남기고 차단은 안 함) 또는 Disabled 상태인 경우가 많습니다.
# 호스트 OS 자체가 SELinux를 강력하게 강제(Enforcing)하고 있지 않다면, K3s용 패키지를 설치해도 실제 차단 효과는 미비할 것입니다


# 이전 설치 시도 시 생성되었을 수 있는 불완전한 바이너리 제거 ( 불필요하긴 함)