---
# Role의 tasks/main.yml에서는 'tasks:' 섹션을 선언하지 않고 바로 시작합니다.

- name: 1. Prometheus 유저 생성 (로그인 불가 계정)
  become: yes
  user:
    name: "prometheus"
    shell: /bin/false
    create_home: no
    state: present

- name: 2. 필요한 디렉토리 생성
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    owner: "prometheus"
    group: "prometheus"
    mode: '0755'
  loop:
    - "/etc/prometheus"
    - "/var/lib/prometheus"
    - "/etc/prometheus/consoles"
    - "/etc/prometheus/console_libraries"

- name: 3. Prometheus 바이너리 다운로드 및 압축 해제
  become: yes
  unarchive:
    src: "https://github.com/prometheus/prometheus/releases/download/v2.22.0/prometheus-2.22.0.linux-amd64.tar.gz"
    dest: "/tmp"
    remote_src: yes

- name: 4. 바이너리 파일을 /usr/local/bin으로 이동
  become: yes
  copy:
    src: "/tmp/prometheus-2.22.0.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: '0755'
    owner: "prometheus"
    group: "prometheus"
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: 5. 설정 및 라이브러리 파일 복사
  become: yes
  shell: |
    cp -r /tmp/prometheus-2.22.0.linux-amd64/consoles /etc/prometheus
    cp -r /tmp/prometheus-2.22.0.linux-amd64/console_libraries /etc/prometheus
    cp /tmp/prometheus-2.22.0.linux-amd64/prometheus.yml /etc/prometheus/prometheus.yml
  args:
    creates: "/etc/prometheus/prometheus.yml"

- name: 6. 권한 정리 (Owner 설정)
  become: yes
  file:
    path: "{{ item }}"
    owner: "prometheus"
    group: "prometheus"
    recurse: yes
  loop:
    - "/etc/prometheus"
    - "/var/lib/prometheus"

- name: 7. Systemd 서비스 파일 등록
  become: yes
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus Server
      Wants=network-online.target
      After=network-online.target

      [Service]
      User=prometheus
      Group=prometheus
      Type=simple
      ExecStart=/usr/local/bin/prometheus \
          --config.file /etc/prometheus/prometheus.yml \
          --storage.tsdb.path /var/lib/prometheus/ \
          --web.console.templates=/etc/prometheus/consoles \
          --web.console.libraries=/etc/prometheus/console_libraries

      [Install]
      WantedBy=multi-user.target

- name: 8. 서비스 데몬 리로드 및 시작
  become: yes
  systemd:
    name: prometheus
    state: started
    enabled: yes
    daemon_reload: yes