# ------------------------- install_k3s.yml -------------------------
# k3s 설치 playbook (Ansible)
---
- hosts: k3s
  become: true
  tasks:
          - name: Install k3s
            shell: curl -sfL https://get.k3s.io | sh -
            args:
                    creates: /usr/local/bin/k3s
